<h1>Hi! Change your password!</h1>

<p>
    Please change your password: <br><br>
    <a href="{{ signedUrl }}">Change password</a>.
    This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>
