<h1>Salut ! Changez votre mot de passe !</h1>

<p>
    Veuillez changer votre mot de passe : <br><br>
    <a href="{{ signedUrl }}">Changer le mot de passe</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne journée !
</p>
